html {
    border-top: 5px solid #B58863;
    min-width: 440px;
}

body {
    color: #222;
}

.navbar {
    height: 6.5rem;
    border-bottom: 1px solid #eee;
}

.navbar-list {
    list-style: none;
    margin-bottom: 0;
}

.navbar-item {
    float: right;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    line-height: 6.5rem;
    color: #222;
}

.f-left {
    float: left;
}

.navbar-link {
    text-decoration: none;
    color: #222;
}

.navbar-link:hover {
    color: #B58863;
}

.chessboard-section {
    padding: 3rem;
    border-bottom: 1px solid #eee;
}

.chessboard {
    width: 75%;
    margin: 0 auto;
}

.current-game-section {
    padding-top: 2rem;
    border-bottom: 1px solid #eee;
}

.section-header {
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: .2rem;
    font-weight: 600;
}

.stat-list {
    font-size: 16px;
}