{% extends 'base.html' %}

{% block title %}Games | Eternal Chess{% endblock %}
{% block description %}The never ending game of chess.{% endblock %}

{% block content %}
<div class="row content-section">
    <table class="u-full-width">
        <thead>
            <tr>
                <th>Game</th>
                <th>Date</th>
                <th>Result</th>
                <th>Moves</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
            <tr>
                <td><a href="/game/{{ n_games - loop.index0 }}">{{ n_games - loop.index0 }}</a></td>
                <td>{{ game.completion_date.strftime('%H:%M %d/%m/%Y') }}</td>
                <td>
                    {% if game.is_draw %}
                        Draw
                    {% else %}
                        {% if game.winner == "white" %}
                            White
                        {% else %}
                            Black
                        {% endif %}
                    {% endif %}
                </td>
                <td>{{ game.n_moves }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
