{% extends 'base.html' %}

{% block title %}Eternal Chess{% endblock %}
{% block description %}The never ending game of chess.{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chessboard-0.3.0.min.css') }}">
{% endblock %}

{% block content %}
<div class="row chessboard-section">
    <div id="chessboard" class="chessboard"></div>
</div>

<div class="row content-section">
    <div class="six columns">
        <div>
            <h5 class="heading" id="current-game-header">Game #{{ game_id }}</h5>

            <ul>
                <li id="n_game_moves">Moves: {{ n_game_moves }}</li>
                <li id="turn">Turn: {{ turn }}</li>
            </ul>
        </div>
    </div>
   
    <div class="six columns">
        <h5 class="heading">All Time</h5>

        <ul>
            <li id="n_games">Games: {{ n_games }}</li>
            <li id="n_white_wins">White wins: {{ n_white_wins }}</li>
            <li id="n_black_wins">Black wins: {{ n_black_wins }}</li>
            <li id="n_draws">Draws: {{ n_draws }}</li>
            <li id="n_moves">Moves: {{ n_moves }}</li>
        </ul>
    </div>
</div>

{% endblock %}

{% block js %}        
        <script src="//code.jquery.com/jquery-2.2.3.min.js"></script>
        <script>window.jQuery || document.write("<script src=\"{{ url_for('static', filename='js/jquery-2.2.3.min.js') }}\"><\/script>")</script>
        <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
        <script src="{{ url_for('static', filename='js/chessboard-0.3.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/eternal-chess.js') }}"></script>
{% endblock %}
